/*Body*/
body {
    background-color: white;
    font-family: Arial;
}

nav .container-fluid {
    max-width: 100%; /* maximale Breite */
    margin: 0 auto; /* zentriert */
}

/*Navbar*/
.navbar-nav > .active > a {
    background-color: #d5dbdb;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }

    li.active {
        background-color: #8e9794;
        color: white;
    }

    li a.active {
        background-color: #8e9794;
        color: white;
    }

    li a:hover {
        background-color: #111111;
    }

h1 {
    font-weight: 500;
    color: green;
}

.text-container {
    max-width: 90%; /* Textbreite */
    margin: 0 auto; /* zentrieren */
    padding: 20px; /* Innenabstand */
}

p {
    line-height: 200%;
    text-align: justify;
    text-justify: inter-word;
    font-family: Arial;
    color: #333;
}

.interner-link {
    cursor: pointer;
    color: #1a73e8;
    text-decoration: none;
}

    .interner-link:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-thickness: 2px;
    }




/*Tabelle*/

.table-container {
    width: 98%;
    position: relative;
    max-width: max-content;
    display: block;
    background-color: white;
    border-radius: 4px;
    margin: 0 auto 40px auto;
    border: 1px solid rgba(0,0,0,0.2);
    overflow-x: auto;
    table-layout: auto;
}

#demo {
    width: 100%;
    width: auto;
    border-spacing: 0;
    display: table !important;
    border-collapse: separate; /* wichtig für saubere Linien */
    border-top: 2px solid #6495ED;
    border-bottom: 2px solid #6495ED;
}

    #demo td,
    #demo th {
        padding-top: 4px;
        padding-bottom: 15px;
        border-bottom: 2px white !important;
        text-align: left;
        vertical-align: top;
        line-height: 1.8;
        font-family: Arial;
    }

/*Kopfzeile der Tabelle*/
thead input {
    width: 100%;
    box-sizing: border-box;
}

#demo thead tr:first-child {
    background-color: white;
    border-right: 1px solid white;
}


#demo thead tr:nth-child(2) th {
    font-family: Arial;
    background-color: white;
    border-top: none !important;
}

#demo thead th {
    padding-right: 25px;
    white-space: nowrap;
}

#demo thead tr:nth-child(2) input {
    margin-top: 8px;
}

/*Data Table*/

.dataTables_filter {
    display: none;
}

#demo thead input {
    width: 100%;
    padding: 6px 4px;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    font-size: 14px;
    transition: all 0.2s ease;
}

    #demo thead input:focus {
        border: 1.5px solid #6495ED;
        outline: none;
    }



.dataTables_paginate {
    font-family: Arial !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-right: 30px;
}
    /* Buttons */
    .dataTables_paginate a {
        padding: 6px 12px !important;
        margin: 0 3px;
        font-size: 15px !important;
        font-family: Arial !important;
        color: #333 !important;
        text-decoration: none;
        border-radius: 4px !important;
        border: 1px solid transparent; /* verhindert Springen */
        background: #f5f5f5;
        transition: background 0.15s ease, border-color 0.15s ease;
    }

        /* Hover (nur klickbare Buttons) */
        .dataTables_paginate a:hover:not(.current):not(.disabled) {
            background: white !important;
            border-radius: 4px !important;
            border: 1px solid #dcdfe3 !important;
            color: black !important;
        }

    /* Aktive Seite */
    .dataTables_paginate .current {
        background: #F0F0F0 !important;
        color: white !important;
        border: 1px solid #dcdfe3 !important;
        border-radius: 4px !important;
        cursor: default;
    }

    /* Deaktivierte Buttons (Prev / Next) */
    .dataTables_paginate .disabled {
        background: white !important;
        color: #aaa !important;
        border: 1px solid transparent;
        cursor: default;
    }

        /* Hover für deaktivierte ausschalten */
        .dataTables_paginate .disabled:hover {
            background: white !important;
        }

.dataTables_length {
    margin-left: 30px !important;
    margin-bottom: 7px !important;
    margin-top: 13px !important;
}

    .dataTables_length label {
        font-family: Arial;
        font-size: 15px;
        color: black;
    }

div.dataTables_length select {
    border-radius: 4px !important;
    background: #F0F0F0 !important;
    padding: 5px 10px !important;
    border: 1px solid #dcdfe3 !important;
    font-size: 16px !important;
}

.dataTables_length select:hover {
    border: 1px solid #dcdfe3 !important;
    background: white !important;
}

.dataTables_length select:focus,
.dataTables_length select:focus-visible {
    outline: none !important;
    border: 1px solid #dcdfe3 !important;
    background: white !important;
}
/*Namenpopups*/

.tooltip-name {
    position: relative; /* Bezugspunkt für das absolute Popup */
    cursor: pointer;
    color: #1a73e8;
}

    .tooltip-name:hover {
        text-decoration: underline; /* unterstreicht beim Hover */
        text-underline-offset: 4px;
        text-decoration-thickness: 2px;
    }

    .tooltip-name .info-text {
        position: absolute;
        top: -5px;
        left: 100%;
        transform: translateY(-100%);
        display: none;
        white-space: normal; /* Zeilen umbrechen */
        word-wrap: break-word;
        max-width: 600px;
        width: max-content;
        overflow-wrap: break-word;
        font-family: Arial;
        max-height: 22vh;
        overflow-y: auto;
        background: white;
        color: #454545;
        padding: 10px 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.15);
        z-index: 9999;
        line-height: 1.5;
    }

    .tooltip-name.active .info-text {
        display: block;
    }
/*Filterpanel*/
#filter-panel {
    box-sizing: border-box;
    width: 98%;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    padding: 20px 20px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}


    #filter-panel label {
        color: black;
        font-family: Arial;
    }
/*Panelelemente erste Zeile*/

.top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
}

.radio-group {
    display: block;
    margin-bottom: 5px;
}

.radio-container label {
    display: block;
    font-size: 15px;
    font-family: Arial;
    margin-bottom: 5px;
}

input[type="radio"] {
    accent-color: #9f7aea;
}

.result-box {
    display: flex;
    align-items: center;
    padding: 0 0;
    border: 1.5px solid white;
    gap: 6px;
    background: white; /* transparenter */
    border-radius: 4px;
    font-family: Arial;
    font-weight: 500;
}

.result-number {
    font-size: 18px;
    font-weight: 700;
    color: #1a73e8;
}

.result-label {
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
}
/*Panelelemente zweite Zeile*/
.active-filters {
    margin-top: 4px;
    gap: 10px;
}

    .active-filters span {
        background: #e1f1fd;
        color: #1246a4; /* dunkelblau */
        padding: 5px 12px;
        border-radius: 12px;
        margin-right: 4px;
        display: inline-block;
        font-size: 15px;
        font-family: Arial;
        font-style: oblique;
    }


/*Panelelemente dritte Zeile*/

.filter-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px 15px;
    align-items: center;
    margin-bottom: 15px;
}

/* Wenn Dropdown geöffnet, sichtbar machen */
.dropdown-filter.show .filter-box {
    display: block;
}

.dropdown-filter {
    position: relative;
    display: inline-block;
}

    .dropdown-filter button {
        width: 200px;
        background: #f4f6f8;
        border: 1px solid #dcdfe3;
        border-radius: 4px;
        padding: 6px 14px;
        font-size: 15px;
        font-family: Arial;
        color: #333;
        cursor: pointer;
        transition: all 0.2s ease;
    }

        .dropdown-filter button:hover {
            background: #e9edf2;
        }

        .dropdown-filter button:active {
            transform: scale(0.97);
        }

        .dropdown-filter button::after {
            content: " ▼";
            font-size: 14px;
            color: #666;
        }

/* Filter-Box */
.filter-box {
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    color: #333;
    background: white;
    border: 1px solid #dcdfe3;
    border-radius: 4px;
    padding: 12px;
    max-height: 400px;
    overflow-y: auto;
    width: max-content; /* ← passt Breite an Text an */
    min-width: 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    z-index: 5000;
    display: none;
    overflow-x: hidden;
}

    /* Checkboxen in 2 Spalten */
    .filter-box label {
        white-space: nowrap;
        font-size: 15px !important;
        font-family: Arial !important;
        padding: 2px 10px 2px 0 !important;
    }

        /* Hover Effekt */
        .filter-box label:hover {
            background-color: white;
            border-radius: 4px;
        }

    .filter-box::-webkit-scrollbar {
        width: 8px;
    }

    .filter-box::-webkit-scrollbar-thumb {
        background: #6495ED;
        border-radius: 4px;
    }

        .filter-box::-webkit-scrollbar-thumb:hover {
            background: #6495ED;
        }


    .filter-box input[type="checkbox"] {
        accent-color: #1a73e8;
        width: 14px;
        height: 14px;
        cursor: pointer;
    }

        .filter-box input[type="checkbox"]:hover {
            transform: scale(1.1);
        }

#bereichFilter {
    background: #f4f6f8;
    border: 1px solid #dcdfe3;
    border-radius: 4px;
    padding: 6px 14px;
    font-size: 15px;
    font-family: Arial;
    color: #333;
    cursor: pointer;
    transition: all 0.2s ease;
}

    /* Hover Effekt */
    #bereichFilter:hover {
        background: #e9edf2;
    }

    /* Fokus Effekt */
    #bereichFilter:focus {
        outline: none;
        border-color: #cfd6de;
    }

    #bereichFilter option {
        background: white;
    }


/* Panelelemente vierte Zeile */

.year-fields {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 15px;
    align-items: flex-end;
}
#resetFilters {
    margin-left: auto;
}

.yearFilter {
    padding: 6px 4px;
    font-size: 15px;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
}


    .yearFilter:hover {
        border: 1.5px solid #6495ED;
    }

    .yearFilter:focus {
        border: 1.5px solid #6495ED;
        outline: none;
    }

    .yearFilter:active {
        border-color: #6495ED;
    }

.year-fields label {
    display: flex;
    flex-direction: column;
    text-align: center;
}

    .year-fields label span {
        color: black;
        font-size: 15px;
        margin-bottom: 1px;
    }


#infoContainer {
    position: relative;
    display: inline-block;
}

/* Button */
#infoButton {
    background: #e1f1fd;
    color: black;
    border: 1px solid #ccc;
    padding: 6px 12px;
    font-family: Arial;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
}

    #infoButton:hover {
        background: #c1d8f0;
        border: 1.5px solid #6495ED;
    }

/* Popup */
#infoPopup {
    position: absolute;
    top: calc(100% + 3px);
    right: 0;
    min-width: 300px;
    background: white;
    border: 1px solid #ccc;
    color: #454545;
    border-radius: 4px;
    padding: 10px 20px;
    font-family: Arial;
    font-size: 15px;
    line-height: 1.6;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    z-index: 4000;
    display: none;
}
/* Reset Button rechts */
#resetFilters {
    font-family: Arial;
    font-size: 15px;
    padding: 6px 12px;
    color: white;
    border: 1px solid #9f7aea;
    background-color: #9f7aea; /* heller Hintergrund */
    border-radius: 4px; /* abgerundete Ecken */
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
}

    #resetFilters:hover {
        background-color: #6348e0; /* leicht dunkler beim Hover */
        border-color: #6348e0;
        box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    }

#loadingOverlay {
    display: none; /* standardmäßig versteckt */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    text-align: center;
    pointer-events: none;
}

    #loadingOverlay .overlayBox {
        display: inline-block;
        background: #f4f6f8;
        padding: 70px 100px;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0,0,0,0.3);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: auto;
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;
        transform: translate(-50%, -60%); /* leicht nach oben verschoben für Animation */
    }

    #loadingOverlay.show .overlayBox {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    #loadingOverlay .spinner {
        border: 6px solid #f3f3f3;
        border-top: 6px solid #9f7aea;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        animation: spin 1s linear infinite;
    }

    #loadingOverlay .overlayText {
        color: #333;
        font-size: 18px;
        margin-top: 10px;
    }

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

mark {
    background: #e1f1fd;
    padding: 4px 2px;
    border-radius: 4px;
    font-style: italic;
    font-weight: 500;
}

.filter-divider {
    border: none;
    height: 1px;
    background: rgba(0,0,0,0.08);
    margin: 2px -20px;
}

.filter-line {
    border: none;
    height: 2px;
    background: #6495ED;
    margin: 2px -20px;
}

table.dataTable thead .sorting:before {
    content: "▲";
    font-size: 10px;
    color: black;
    padding: 1px 0px;
}

table.dataTable thead .sorting:after {
    content: "▼";
    color: black;
    font-size: 10px;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after {
    color: black; /* blau */
    opacity: 0.4 !important; /* wichtig: entfernt das blasse Aussehen */
}

/* aktiv aufsteigend → schwarz */
table.dataTable thead .sorting_asc:before {
    color: #6495ED;
    opacity: 1 !important;
}

/* aktiv absteigend → schwarz */
table.dataTable thead .sorting_desc:after {
    color: #6495ED;
    opacity: 1 !important;
}
@media (max-width: 1024px) {
     #resetFilters {
        margin-left: 0;
        display: block;
    }
        .radio-container {
        border-bottom: 1px solid #ddd;
        padding-bottom: 12px;
        margin-bottom: 12px;
    }
    #bereichFilter {
        width: 200px;
    }
    #bereichFilter {
    line-height: normal;
}
    
    .filter-group button,
    .filter-group select,
    .dropdown-filter button {
       text-align: center; /* Text zentriert */
       padding: 6px o;
    }
    
}
/* --- Responsive für Mobilgeräte --- */
@media (max-width: 768px) {

    .top,
    .filter-group,
    .year-fields {
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
    }

        /* alle Elemente volle Breite */
        .filter-group > *,
        .year-fields > *,
        .top > * {
            width: 100%;
        }

    /* Buttons gleich breit */
    #infoButton,
    #bereichFilter,
    #resetFilters,
    .dropdown-filter button,
    .filter-btn {
        width: 100%;
        text-align: center;
    }

    /* Reset Button */
    #resetFilters {
        margin-left: 0;
        display: block;
    }

    /* Result Box links + eine Zeile */
    .result-box {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 6px;
    }

    /* Linie unter Radio */
    .radio-container {
        border-bottom: 1px solid #ddd;
        padding-bottom: 12px;
        margin-bottom: 12px;
    }

    .filter-group {
        gap: 14px; /* z.B. statt 10px */
    }

    .radio-container label {
        line-height: 1.4;
        display: block;
        margin-bottom: 6px;
    }

    .table-container {
        max-width: 98%;
    }

    .filter-group button,
    .filter-group select,
    .dropdown-filter button {
        text-align: center; /* Text zentriert */
        padding-left: 0;
        padding-right: 0;
    }

    /* Optional: bei select im Firefox */
    .filter-group select {
        -moz-appearance: none;
        text-align-last: center; /* zentriert den ausgewählten Text */
    }

        /* Optional: bei Chrome/Safari */
        .filter-group select::-ms-expand {
            display: none; /* falls IE/Edge */
        }
}




